#square {
  width: 100px;
  height: 100px;
  background: rgb(255, 196, 0);
  position: absolute;
  left: 0;
  top: 400;
}

.stuff {
  background: rgb(33, 133, 163);
  color: white;
}

#third {
  background: rgb(8, 109, 8);
  color: white;
}

body {
  background-color:black);
}
