body {
  background-color: rgb(144, 198, 255);
}

.divTable {
  display: table;
  width: 25%;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: rgb(123, 176, 255);
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 0px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: rgb(0, 12, 80);
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: rgb(84, 149, 247);
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
